/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-transform: uppercase;
}

.buttonHero {
  font-size: 0.8rem;
  border-radius: 7px;
  border: 1px solid var(--ifm-color-primary);
}

.buttonHero:hover {
  border: 1px solid var(--ifm-color-primary-dark);
}

.buttonHeroOutline {
  color: var(--ifm-color-primary);
}

.buttonHeroOutline:hover {
  color: var(--ifm-color-primary-dark);
}

.hero {
  color: var(--ifm-color-primary-darkest);
  font-size: 2.5rem;
  text-align: left;
}

.heroImage {
  max-width: 75%;
}

.github {
  text-align: left;
}

.githubButton {
  width: 8rem;
}
