.features {
  composes: contents from "../../css/common.module.css";
  background-color: var(--ifm-hero-background-color);
  /*background-color: var(--ifm-color-primary-lightest);*/
}

.row {
  composes: row from "../../css/common.module.css";
}

.feature {
  composes: content from "../../css/common.module.css";
  flex-direction: row;
}

.featureSvg {
  height: 10rem;
  width: 10rem;
}

.featureDetails {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.featureTitle {
}

.featureInfo {
  composes: tagline from "../../css/common.module.css";
}
