.features {
  composes: contents from "../../css/common.module.css";
}

.row {
  composes: row from "../../css/common.module.css";
}

.feature {
  composes: content from "../../css/common.module.css";
}

.featureSvg {
  height: 200px;
  width: 200px;
}
