.testimonials {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-darkest);
}

[data-theme="dark"] .testimonials {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-primary-lightest);
}

.testimonialSvg {
  height: 200px;
  width: 200px;
}
